################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LostAndFoundJam/v16
/Temp/UnityLockfile
/Temp
/.vs/catrobotgame/v16
/.vs/LostAndFoundJam/v15
/Library/
/.vs/VSWorkspaceState.json
